{% extends "journals/base.html" %}

{% block header %}
  <div class='jumbotron'>
  	<h1>Gratitude Journal</h1>
  	<h2><i>noun.</i></h2>
  	<h2>A gratitude journal is a diary of things for which one is grateful. Gratitude journals are used by individuals who wish to focus their attention on the positive things in their lives.</h2>
  </div>
{% endblock header %}

{% block content %}
  <h2>
  	<a href="{% url 'users:register' %}">Register an account</a> to make your own journal for the topics you are interested in.
  </h2>
  <h2>
  Write down one thing you are grateful about everyday.
</h2>
{% endblock content %}